<div class="w-full bg-yellow-100 text-gray-500 text-sm shadow-t z-50 opacity-100 px-10 pb-4 leading-loose">
    <div class="border-t border-gray-300 mb-16"></div>
    <%= image_tag "tittlelogo.png", alt: "タイトルロゴ", class: "w-44 mb-5" %>
    <div><%= link_to "使い方", how_to_use_path %></div>
    <div><%= link_to "お問い合わせ", contact_path %></div>
    <div><%= link_to "利用規約", terms_path %></div>
    <div><%= link_to "プライバシーポリシー", privacy_path %></div>
</div>