<header class="bg-amber-100 shadow-sm sticky top-0 z-50">
  <div class="navbar max-w-7xl mx-auto">
    <div class="navbar-start">
      <%= link_to root_path, class: "btn btn-ghost text-xl font-bold normal-case text-indigo-700" do %>
        🌱 green_time
      <% end %>
    </div>
    <div class="navbar-center">
      <% if user_signed_in? %>
    <p class="text-base white-space:nowrap"><%= current_user.email %>さんの勤怠記録</p>
    <% end %>
    </div>
    <div class="navbar-end">
      <div class="dropdown dropdown-end">
        <!-- ハンバーガーボタン -->
        <div tabindex="0" role="button" class="btn btn-ghost btn-square text-amber-700">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow-lg border border-base-200 text-amber-700">
          <li><%= link_to "マイページ", mypage_checkinout_records_path %></li>
            <% if user_signed_in? %>
              <!-- ログイン済みの場合は常に表示 -->
              <li><%= link_to "チェックイン", checkin_path,
                            class: "menu-item flex items-center px-4 py-2" %></li>
              <li><%= link_to "チェックアウト", checkout_page_checkinout_records_path %></li>
              <li><%= link_to "気分グラフ", analytics_moods_path %></li>
              <li><%= link_to "🌱ページ", plants_path %></li>
            <% end %>
              <li><%= link_to "使い方", how_to_use_path %></li>
              <li><%= link_to "お問い合わせ", contact_path %></li>
              <li><%= link_to "利用規約", terms_path %></li>
              <li><%= link_to "プライバシーポリシー", privacy_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %></li>
            <% else %>
              <li><%= link_to "ログイン", new_user_session_path %></li>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>