<div class="min-h-screen flex flex-col justify-center items-center bg-success text-center space-y-6 -translate-y-8">

    <p class="text-xl leading-relaxed text-base-100 mb-10 mt-6">
        パートナーに名前をつけよう！
        </p>

    <%= link_to checkin_path, class: "inline-block transition duration-200 hover:scale-105" do %>
        <h3 class="text-4xl pt-2 text-primary mx-auto fukidashi-02-01 tracking-wide">Hi !</h3>
    <% end %>

    <!-- 植物の表示 -->
    <%= image_tag "kuma.png", alt: @plant.display_name, class: "mx-auto w-48 h-48 object-contain" %>

    <!-- 現在の名前表示 -->
    <h2 class="text-2xl font-bold">
        現在の名前：<br><%= @plant.display_name %>
    </h2>

    <!-- 名前変更フォーム -->
    <%= form_with model: @plant, local: true do |f| %>
        <div class="space-y-4">
        <%= f.text_field :plant_name,
            placeholder: "新しい名前を入力（空白の場合：MIDORI）",
            class: "input input-bordered w-full max-w-xs" %>

        <%= f.submit "名前を変更", class: "btn btn-secondary" %>
        </div>
    <% end %>
</div>


<style>
.fukidashi-02-01 {
    position: relative;
    width: fit-content;
    padding: 12px 20px;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #FB9E3A;
    }
    .fukidashi-02-01::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: -1;
    width: 20px;
    height: 12px;
    transform: translateX(-50%);
    box-sizing: border-box;
    background-color: #FB9E3A;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.fukidashi-02-01:hover {
    background-color: #34D399; /* 例: daisyUIのsuccess色 */
}

.fukidashi-02-01:hover::after {
    background-color: #34D399; /* 同じ色にする */
}
</style>

