<div class="text-center py-12 space-y-6 bg-success">
    <!-- 植物の表示 -->
    <%= image_tag "kuma.png", alt: @plant.display_name, class: "mx-auto w-48 h-48 object-contain" %>

    <!-- 現在の名前表示 -->
    <h2 class="text-2xl font-bold">
        現在の名前： <%= @plant.display_name %>
    </h2>

    <!-- 名前変更フォーム -->
    <%= form_with model: @plant, local: true do |f| %>
        <div class="space-y-4">
        <%= f.text_field :plant_name,
            placeholder: "新しい名前を入力（空白の場合：MIDORI）",
            class: "input input-bordered w-full max-w-xs" %>

        <%= f.submit "名前を変更", class: "btn btn-secondary" %>
        </div>
    <% end %>
</div>
