<% content_for :footer_bg_color, 'bg-red-500' %>
<div class="hero min-h-screen bg-red-500">
    <div class="hero-content text-center text-white">
        <div class="max-w-md py-8">
        <p class="text-xl mb-8">お疲れさまでした</p>
        <h1 class="text-5xl font-bold mb-5 fukidashi-02-01 mx-auto">Good Job!</h1>

        <!-- 緑ちゃんブース -->
        <%= image_tag "kuma.png", alt: "ポチ", class: "mx-auto w-48 h-48 object-contain" %>
        <div class="max-w-md mb-8">
            <p><%= current_plant_name %></p>
        </div>

            <% if @current_record %>
            <div class="work-summary mb-8 bg-white/20 rounded-lg p-6">
                <p class="text-lg"><%= Date.current.strftime("%Y年%m月%d日 (%a)") %></p><br>

                <p class="text-lg mb-2">チェックイン時刻</p>
                <p class="text-2xl font-mono mb-4">
                <%= @current_record.checkin_time.strftime("%H:%M") %>
                </p>

                <p class="text-lg mb-2">活動時間</p>
                <p class="text-3xl font-mono" id="working-time"
                data-checkin-time="<%= @current_record.checkin_time.in_time_zone('Asia/Tokyo').iso8601 %>">
                <%= time_diff(@current_record.checkin_time, Time.current) %>
                </p>
            </div>

            <!-- mood checker もそのまま current_record に -->
            <%= render 'checkinout_records/components/mood_checker',
                    record: @current_record,
                    show_mood_success: @current_record.mood&.feeling.present?,
                    show_comment_success: @current_record.mood&.comment.present? %>

            <%= form_with url: checkout_path, method: :patch, data: { turbo: false } do |f| %>
                <%= f.submit "チェックアウト", class: "btn btn-primary btn-lg px-16 py-4 text-2xl shadow-lg w-full mt-8 mb-8" %>
            <% end %>
            <% end %>

        </div>
    </div>
</div>
