<div class="hero min-h-screen bg-gradient-to-br from-blue-400 to-blue-600">
    <div class="hero-content text-center text-white">
        <div class="max-w-md py-16">
            <h1 class="text-5xl font-bold mb-8">
                Welcome back!
            </h1>

            <p class="text-xl mb-8">
                まだまだ素敵な一日にしましょう！
            </p>

            <!-- 緑ちゃんブース-->
            <img src="/assets/pochi.png"
                    alt="ポチ"
                    id="pochi-image"
                    class="mx-auto w-48 h-48 object-contain">


            <div class="work-summary mb-8 bg-white/20 rounded-lg p-6">
                <p class="text-lg">
                <%= Date.current.strftime("%Y年%m月%d日 (%a)") %></p><br>

                <p class="text-lg">現在時刻</p>
                <p class="text-3xl font-mono" id="current-time">
                    <%= Time.current.strftime("%H:%M:%S") %></p><br>

                <p class="text-lg mb-2">チェックイン時刻</p>
                <p class="text-3xl font-mono mb-4">
                    <%= @today_record.checkin_time.strftime("%H:%M") %>
                </p>

                <p class="text-lg mb-2">勤務時間</p>
                <p class="text-3xl font-mono" id="working-time"
                    data-checkin-time="<%= @today_record.checkin_time.in_time_zone('Asia/Tokyo').iso8601 %>">
                    <%= time_diff(@today_record.checkin_time, Time.current) %>
                </p>
            </div>
            <!-- チェックイン済み表示 -->
            <div class="max-w-md py-4">
            <div id="checkin-section">
                <button class="btn btn-lg w-full bg-gray-400 text-gray-600" disabled>
                    チェックイン済み
                </button>
            </div></div>

            <!-- ボタンエリア -->
            <div class="space-y-4">
            <!-- チェックアウトボタン -->
            <%= link_to checkout_page_checkinout_records_path,
                    class: "btn btn-outline btn-accent btn-lg px-16 py-4 text-2xl shadow-lg w-full block" do %>
                チェックアウト
                <% end %>

                <!-- マイページボタン（アウトラインスタイル） -->
                <%= link_to mypage_checkinout_records_path,
                    class: "btn btn-outline btn-lg px-16 py-4 text-2xl shadow-lg w-full block border-white text-white hover:bg-white/70 hover:border-white hover:text-orange-600 " do %>
                マイページを見る
                <% end %>
            </div>

        </div>
    </div>
</div>