<!DOCTYPE html>
<html data-theme="mytheme">
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= render 'shared/header' %>

    <title><%= content_for(:title) || "cheers_timer" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="logged-in" content="<%= logged_in_line? %>">

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %>

    <!-- chartkick関連 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://unpkg.com/chartkick@5.0.1/dist/chartkick.min.js"></script>
    <!-- LIFF関連 -->
    <meta name="liff-id" content="<%= Rails.application.credentials.line[:liff_id] %>">
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  </head>

  <body class="flex flex-col min-h-screen font-mplus">
  <main class="flex-grow">

    <div data-controller="liff" data-liff-liff-id-value="<%= Rails.application.credentials.line[:liff_id] %>">
    <%= yield %>
  </main>

  <footer class="w-full text-center">
    <%= render 'shared/footer' %>
  </footer>
  </div>
</body>

</html>
